$color-primary: #c5e0dc; // Light blue
$color-primary-dark: #485f5c; // Dark blue
$color-primary-light: #829895; // Light blue
$color-secondary: #e08e79; // Orangey redy brown

$font-primary: 'PT Serif', Georgia, 'Times New Roman', serif;
$font-secondary: Lato, 'Helvetica Neue', Arial, sans-serif;